/********************************************************************************************
 0. STYLES FOR MOBILE DEVICES - media screen max-width: 1024px (removes animation for mobile devices) (line 24)
 1. STYLES FOR MOBILE DEVICES - media screen max width: 400px (line 55)
 2. STYLES FOR MOBILE DEVICES - media screen min width: 400px / max width: 568px (line 295)
 3. STYLES FOR MOBILE DEVICES - media screen min width: 568px / max width: 600px (line 541)
 4. STYLES FOR MOBILE DEVICES - media screen min width: 600px / max width: 700px (line 809)
 5. STYLES FOR MOBILE DEVICES - media screen min width: 700px / max width: 768px (line 1118)
 6. STYLES FOR MOBILE DEVICES - media screen min width: 768px / max width: 900px (line 1423)
 7. STYLES FOR MOBILE DEVICES - media screen min width: 900px / max width: 1024px (line 1747)
 8. STYLES FOR MOBILE DEVICES - media screen min width: 1024px / max width: 1200px (line 2077)
 9. STYLES FOR MOBILE DEVICES - media screen min width: 1200px / max width: 1280px (line 2472)
 10. STYLES FOR MOBILE DEVICES - media screen min width: 1280px / max width: 1366px (line 2574)
 11. STYLES FOR MOBILE DEVICES - media screen min width: 1336px / max width: 1536px (line 2806) 
 12. STYLES FOR MOBILE DEVICES - media screen min width: 1536px / max width: 1680px (line 3141)
 13. STYLES FOR MOBILE DEVICES - media screen min width: 1680px / max width: 1900px (line 3471) 
 ---
 14. NAVIGATION MEDIA QUERIES (line 3801)
 15. FEATURES MEDIA QUERIES (line 3810)
 16. TIMELINE MEDIA QUERIES (line 3859)
*********************************************************************************************/



/*-- 0. STYLES FOR MOBILE DEVICES - media screen max-width: 1000px --*/
/* -- removes animation for mobile devices --*/
@media screen and (max-width: 1000px) {
	/* .animated {
		-webkit-animation-fill-mode: none !important;
		-moz-animation-fill-mode: none !important;
		-ms-animation-fill-mode: none !important;
		-o-animation-fill-mode: none !important;
		animation-fill-mode: none !important;
		-webkit-animation-duration: 0s !important;
		-moz-animation-duration: 0s !important;
		-ms-animation-duration: 0s !important;
		-o-animation-duration: 0s !important;
		animation-duration: 0s !important;
	}
		
	.flash, .shake, .bounce, .tada, .swing, .wobble, .pulse, .animated.flip, .flipInX, .flipOutX, .flipInY, .flipOutY, .fadeIn, .fadeInUp, .fadeInDown, .fadeInLeft, .fadeInRight, .fadeInUpBig, .fadeInDownBig, .fadeInLeftBig, .fadeInRightBig, .fadeOut, .fadeOutUp, .fadeOutDown, .fadeOutLeft, .fadeOutRight, .fadeOutUpBig, .fadeOutDownBig, .fadeOutLeftBig, .fadeOutRightBig, .slideInDown, .slideInLeft, .slideInRight, .slideOutUp, .slideOutLeft, .slideOutRight, .bounceIn, .bounceInUp, .bounceInDown, .bounceInLeft, .bounceInRight, .bounceOut, .bounceOutUp, .bounceOutDown, .bounceOutLeft, .bounceOutRight, .rotateIn, .rotateInUpLeft, .rotateInDownLeft, .rotateInUpRight, .rotateInDownRight, .rotateOut, .rotateOutUpLeft, .rotateOutDownLeft, .rotateOutUpRight, .rotateOutDownRight, .lightSpeedIn, .lightSpeedOut, .hinge, .rollIn, .rollOut, .zoomIn, .bounce-in  {
		-webkit-animation-name: none !important;
		-moz-animation-name: none !important;
		-o-animation-name: none !important;
		animation-name: none !important;
	}

	.animate-in, .description, .presentation h3, .move, .device, .arrow-fast, .fast h3, .arrow-intuitive, .intuitive h3, .arrow-simple, .simple h3, .arrow-secure, .secure h3, .arrow-awesome, .awesome h3, .arrow-free, .free h3, .award h3, .cbp-ig-grid-li, .rating, .grid figure, .patches h3, .price h3, .cd-timeline-icon, .cd-timeline-content, .plans, .cbp-qtrotator, .view, .team, .social, .form-inline, #map {
		visibility: visible !important;
	} */
}



/*-- 1. STYLES FOR MOBILE DEVICES - media screen max width: 400px --*/
@media only screen and (max-width: 400px) {

}



/*-- 2. STYLES FOR MOBILE DEVICES - media screen min width: 400px / max width: 568px --*/
@media screen and (min-width: 400px) and (max-width: 576px) {	
	
}




