/********************************************************************************************
 0. Mobile menu (line 19)
 1. STYLES FOR MOBILE DEVICES - media screen max-width: 768px (line 55)
 2. STYLES FOR MOBILE DEVICES - media screen max width: 400px (line ---)
 3. STYLES FOR MOBILE DEVICES - media screen min width: 401px / max width: 575px (line ---)
 4. STYLES FOR MOBILE DEVICES - media screen min width: 576px / max width: 649px (line ---)
 5. STYLES FOR MOBILE DEVICES - media screen min width: 650px / max width: 767px (line ---)
 6. STYLES FOR MOBILE DEVICES - media screen min width: 768px / max width: 991px (line ---)
 7. STYLES FOR MOBILE DEVICES - media screen min width: 992px / max width: 1199px (line ---)
 8. STYLES FOR MOBILE DEVICES - media screen min width: 1200px / max width: 1279px (line ---)
 9. STYLES FOR MOBILE DEVICES - media screen min width: 1280px / max width: 1365px (line ---)
 10. STYLES FOR MOBILE DEVICES - media screen min width: 1366px / max width: 1535px (line ---)
 11. STYLES FOR MOBILE DEVICES - media screen min width: 1536px / max width: 1679px (line ---) 
 12. STYLES FOR MOBILE DEVICES - media screen min width: 1681px / max width: 1919px (line ---)
 
*********************************************************************************************/

/*-- 0. Mobile menu --*/
@media screen and (max-width: 1199px) {
	#masthead .menu-column,
	#masthead .navbar-container {
		position: static;
	}

	#masthead .navbar-toggler {
		position: relative;
		min-width: 45px;
		min-height: 45px;
		margin-left: auto;
    margin-right: 0;
		border: none;
		background-color: var(--blue);
    color: white;
	}

	#masthead .navbar-custom-toggler-icon,
	#masthead button.navbar-toggler::before,
	#masthead button.navbar-toggler::after {
		position: absolute;
		top: 50%;
    left: 50%;
		height: 4px;
    border-radius: 4px;
		background-color: var(--white);
		transition: transform 0.5s ease-in-out,
								width	0.5s linear;
	}

	#masthead .navbar-toggler.collapsed .navbar-custom-toggler-icon {
		display: block;
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	#masthead button.navbar-toggler.collapsed::before {
		content: '';
		width: 30px;
		transform: translate(-50%, -230%);
	}
	#masthead button.navbar-toggler.collapsed::after {
		content: '';
		width: 30px;
		transform: translate(-50%, 130%);
	}

	
	#masthead .navbar-toggler .navbar-custom-toggler-icon {
		opacity: 0;
		width: 30px;
		transform: translate(-50%, -50%) rotateZ(360deg);
		transition: transform	0.5s ease-in-out,
								opacity	0.4s linear 0.1s;
	}
	#masthead button.navbar-toggler::before {
		content: '';
		transform-origin: center;
		width: 40px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
	}
	#masthead button.navbar-toggler::after {
		content: '';
		transform-origin: center;
		width: 40px;
    transform: translate(-50%, -50%) rotateZ(45deg);
	}

	#masthead #main-nav {
		z-index: 20;
		position: absolute;
		top: 90%;
		left: 50%;
		width: 95%;
		box-shadow: 0px 15px 15px 5px rgba(67, 126, 235, 0.1);
		background-color: var(--white);
		transform: translate(-50%, 0px);
	}

	#masthead #menu-main-menu {
		flex-direction: column;
    align-items: flex-start;
		width: 100%;
	}

	#masthead #menu-main-menu li {
    width: inherit;
    padding: 0.5rem 1rem;
	}

	#masthead #menu-main-menu li a {
		text-align: left;
	}

	#masthead #menu-main-menu li.current-menu-item {
		background-color: var(--blue);
	}

	#masthead #menu-main-menu li.current-menu-item a {
		color: var(--white);
	}
}

/*-- 1. STYLES FOR MOBILE DEVICES - media screen max-width: 768px --*/
@media screen and (max-width: 768px) {
	/* .animated {
		-webkit-animation-fill-mode: none !important;
		-moz-animation-fill-mode: none !important;
		-ms-animation-fill-mode: none !important;
		-o-animation-fill-mode: none !important;
		animation-fill-mode: none !important;
		-webkit-animation-duration: 0s !important;
		-moz-animation-duration: 0s !important;
		-ms-animation-duration: 0s !important;
		-o-animation-duration: 0s !important;
		animation-duration: 0s !important;
	}
		
	.flash, .shake, .bounce, .tada, .swing, .wobble, .pulse, .animated.flip, .flipInX, .flipOutX, .flipInY, .flipOutY, .fadeIn, .fadeInUp, .fadeInDown, .fadeInLeft, .fadeInRight, .fadeInUpBig, .fadeInDownBig, .fadeInLeftBig, .fadeInRightBig, .fadeOut, .fadeOutUp, .fadeOutDown, .fadeOutLeft, .fadeOutRight, .fadeOutUpBig, .fadeOutDownBig, .fadeOutLeftBig, .fadeOutRightBig, .slideInDown, .slideInLeft, .slideInRight, .slideOutUp, .slideOutLeft, .slideOutRight, .bounceIn, .bounceInUp, .bounceInDown, .bounceInLeft, .bounceInRight, .bounceOut, .bounceOutUp, .bounceOutDown, .bounceOutLeft, .bounceOutRight, .rotateIn, .rotateInUpLeft, .rotateInDownLeft, .rotateInUpRight, .rotateInDownRight, .rotateOut, .rotateOutUpLeft, .rotateOutDownLeft, .rotateOutUpRight, .rotateOutDownRight, .lightSpeedIn, .lightSpeedOut, .hinge, .rollIn, .rollOut, .zoomIn, .bounce-in  {
		-webkit-animation-name: none !important;
		-moz-animation-name: none !important;
		-o-animation-name: none !important;
		animation-name: none !important;
	}

	.animate-in, .description, .presentation h3, .move, .device, .arrow-fast, .fast h3, .arrow-intuitive, .intuitive h3, .arrow-simple, .simple h3, .arrow-secure, .secure h3, .arrow-awesome, .awesome h3, .arrow-free, .free h3, .award h3, .cbp-ig-grid-li, .rating, .grid figure, .patches h3, .price h3, .cd-timeline-icon, .cd-timeline-content, .plans, .cbp-qtrotator, .view, .team, .social, .form-inline, #map {
		visibility: visible !important;
	} */
}


/*-- 2. STYLES FOR MOBILE DEVICES - media screen max width: 400px --*/
@media only screen and (max-width: 400px) {
	body, html {font-size: 10px;}
	.h1, h1 {font-size: 2.5rem; padding: 0;}
	.h2, h2 {font-size: 1.75rem;}
	.h3, h3 {font-size: 1.5rem;}
	.h4, h4 {font-size: 1.25rem;}
	.h5, h5 {font-size: 1.rem; font-weight: bold;}

	#masthead .navbar-brand img {
		height: 45px;
	}

	#masthead .topbar {
		margin-bottom: 1rem;
	}

	#masthead .topbar .contact-info {
		margin-bottom: 1rem;
	}

	#masthead .topbar .contact-info .contact-email {
		padding-right: 0;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.1em;
	}

	.tabs-container .tab {
		font-size: 0.9em;
	}

	.site-footer .footer-menu-container, .site-footer .footer-info-container, .site-footer .footer-social-container {
		width: 100%;
	}

	body:not(.theme-preset-active) footer#colophon.site-footer {
		font-size: 0.9rem;
	}

	.site-footer .footer-copy-container img {
		width: 75px;
	}

	.site-footer .footer-copy-container .footer-info-container {
		margin-top: 3rem;
	}
}


/*-- 3. STYLES FOR MOBILE DEVICES - media screen min width: 401px / max width: 575px --*/
@media screen and (min-width: 401px) and (max-width: 575px) {	
	body, html {font-size: 11px;}
	.h1, h1 {font-size: 3rem; padding: 0;}
	.h2, h2 {font-size: 2rem;}
	.h3, h3 {font-size: 1.75rem;}
	.h4, h4 {font-size: 1.5rem;}
	.h5, h5 {font-size: 1.25rem;}

	#masthead .navbar-brand img {
		height: 57px;
	}

	#masthead .topbar {
		margin-bottom: 1rem;
	}

	#masthead .topbar .contact-info {
		margin-bottom: 1rem;
	}

	#masthead .topbar .contact-info .contact-email {
		padding-right: 0;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.1em;
	}

	.tabs-container .tab {
		font-size: 0.9em;
	}

	.site-footer .footer-menu-container, .site-footer .footer-info-container, .site-footer .footer-social-container {
		width: 100%;
	}

	body:not(.theme-preset-active) footer#colophon.site-footer {
		font-size: 0.9rem;
	}

	.site-footer .footer-copy-container img {
		width: 100px;
	}

	.site-footer .footer-copy-container .footer-info-container {
		margin-top: 2rem;
	}
}

/*-- 4. STYLES FOR MOBILE DEVICES - media screen min width: 576px / max width: 649px --*/
@media screen and (min-width: 576px) and (max-width: 649px) {	
	body, html {font-size: 11px;}
	.h1, h1 {font-size: 3rem; padding: 0;}
	.h2, h2 {font-size: 2rem;}
	.h3, h3 {font-size: 1.75rem;}
	.h4, h4 {font-size: 1.5rem;}
	.h5, h5 {font-size: 1.25rem;}

	#masthead .navbar-brand img {
		height: 64px;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.1em;
	}

	.tabs-container .tab {
		font-size: 0.9em;
	}

	.site-footer .footer-menu-container, .site-footer .footer-info-container, .site-footer .footer-social-container {
		width: 80%;
	}

	body:not(.theme-preset-active) footer#colophon.site-footer {
		font-size: 1rem;
	}

	.site-footer .footer-copy-container img {
		width: 100px;
	}

	.site-footer .footer-copy-container .footer-info-container {
		margin-top: 2rem;
	}
}

/*-- 5. STYLES FOR MOBILE DEVICES - media screen min width: 650px / max width: 767px --*/
@media screen and (min-width: 650px) and (max-width: 767px) {	
	body, html {font-size: 14px;}
	.h1, h1 {font-size: 3rem; padding: 0;}
	.h2, h2 {font-size: 2rem;}
	.h3, h3 {font-size: 1.75rem;}
	.h4, h4 {font-size: 1.5rem;}
	.h5, h5 {font-size: 1.25rem;}

	#masthead .navbar-brand img {
		height: 74px;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.1em;
	}

	.tabs-container .tab {
		font-size: 0.9em;
	}

	.site-footer .footer-menu-container, .site-footer .footer-info-container, .site-footer .footer-social-container {
		width: 80%;
	}

	body:not(.theme-preset-active) footer#colophon.site-footer {
		font-size: 1rem;
	}

	.site-footer .footer-copy-container img {
		width: 100px;
	}

	.site-footer .footer-copy-container .footer-info-container {
		margin-top: 4rem;
	}
}


/*-- 6. STYLES FOR MOBILE DEVICES - media screen min width: 768px / max width: 991px --*/
@media screen and (min-width: 768px) and (max-width: 991px) {	
	body, html {font-size: 12px;}
	.h1, h1 {font-size: 2.5rem;padding: 0;}
	.h2, h2 {font-size: 1.75rem;}
	.h3, h3 {font-size: 1.5rem;}
	.h4, h4 {font-size: 1.25rem;}
	.h5, h5 {font-size: 1rem;font-weight: bold;}

	#masthead .navbar-brand img {
		height: 100px;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.1em;
	}

	.tabs-container .tab {
		font-size: 1em;
	}

	.site-footer .footer-menu-container, .site-footer .footer-info-container, .site-footer .footer-social-container {
		width: 60%;
	}

	body:not(.theme-preset-active) footer#colophon.site-footer {
		font-size: 1rem;
	}

	.site-footer .footer-copy-container img {
		width: 100px;
	}

	.site-footer .footer-copy-container .footer-info-container {
		margin-top: 3rem;
	}
}


/*-- 7. STYLES FOR MOBILE DEVICES - media screen min width: 992px / max width: 1199px --*/
@media screen and (min-width: 992px) and (max-width: 1199px) {	
	body, html {font-size: 14px;}

	#masthead .navbar-brand img {
		height: 100px;
	}

	.h1, h1 {
		font-size: 3rem;
		padding: 0;
	}
	
	.h2, h2 {
		font-size: 2rem;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.1em;
	}

	body:not(.theme-preset-active) footer#colophon.site-footer {
		font-size: 0.9rem;
	}

	.site-footer .footer-copy-container .footer-info-container {
		margin-top: 1.5rem;
	}
}


/*-- 8. STYLES FOR MOBILE DEVICES - media screen min width: 1200px / max width: 1279px --*/
@media screen and (min-width: 1200px) and (max-width: 1279px) {	
	body, html {font-size: 14px;}

	#masthead .navbar-brand img {
		height: 100px;
	}

	.h1, h1 {
		font-size: 3rem;
		padding: 0;
	}
	
	.h2, h2 {
		font-size: 2rem;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.1em;
	}

	body:not(.theme-preset-active) footer#colophon.site-footer {
		font-size: 0.9rem;
	}

	.site-footer .footer-copy-container .footer-info-container {
		margin-top: 1.5rem;
	}
}


/*-- 9. STYLES FOR MOBILE DEVICES - media screen min width: 1280px / max width: 1365px --*/
@media screen and (min-width: 1280px) and (max-width: 1365px) {	
	body, html {font-size: 14px;}

	#masthead .navbar-brand img {
		height: 100px;
	}

	.h1, h1 {
		font-size: 3rem;
		padding: 0;
	}
	
	.h2, h2 {
		font-size: 2rem;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.2em;
	}
}

/*-- 10. STYLES FOR MOBILE DEVICES - media screen min width: 1366px / max width: 1535px --*/
@media screen and (min-width: 1366px) and (max-width: 1535px) {	
	body, html {font-size: 14px;}

	#masthead .navbar-brand img {
		height: 100px;
	}

	.h1, h1 {
		font-size: 3rem;
		padding: 0;
	}
	
	.h2, h2 {
		font-size: 2rem;
	}

	#masthead #menu-main-menu > li > a {
		font-size: 1.3em;
	}
}

/*-- 11. STYLES FOR MOBILE DEVICES - media screen min width: 1536px / max width: 1679px --*/
@media screen and (min-width: 1536px) and (max-width: 1679px) {	
	#masthead #menu-main-menu > li > a {
		font-size: 1.3em;
	}
}

/*-- 12. STYLES FOR MOBILE DEVICES - media screen min width: 1681px / max width: 1919px --*/
/* @media screen and (min-width: 1680px) and (max-width: 1919px) {} */