/* 
Theme Name:		 wpb-child
Theme URI:		 http://childtheme-generator.com/
Description:	 wpb-child is a child theme of WP Bootstrap Starter
Author:			 Juan Sebastian Guerrero
Author URI:		 http://childtheme-generator.com/
Template:		 wp-bootstrap-starter
Version:		 1.0.0
Text Domain:	 wpb-child
*/
 
:root {
	--black: #000;
	--blue: #437eeb;
	--blue-dark-shade: #3c71dc;

	--blue-dark: #3f4f6b;

	--yellow: #fff275;
	--yellow-dark-shade: #E8DA69;

	--green:#c5d124;
	--green-dark-shade: #b4bd20;
	--green-dark:	#297373;

	--red: #ff1039;
	--orange: #ff8c42;
	--orange-dark-shade: #EC7E3B;

	--light: #f2f3fe;
	--light-dark-shade: #dadbe6;

	--dark: #797a85;
}

/* font - Oswald */
@font-face {
  font-family: oswald;
  src: url('./inc/assets/fonts/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: oswald;
  src: url('./inc/assets/fonts/Oswald-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* MetaPro - Black */
@font-face {
  font-family: metaproblack;
  src: url('./inc/assets/fonts/MetaPro-Black.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: metaproblack;
  src: url('./inc/assets/fonts/MetaPro-BlackItalic.otf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/* MetaPro - Medium */
@font-face {
  font-family: metapromedium;
  src: url('./inc/assets/fonts/MetaPro-Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: metapromedium;
  src: url('./inc/assets/fonts/MetaPro-MediumItalic.otf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/* MetaPro - Normal */
@font-face {
  font-family: metapro;
  src: url('./inc/assets/fonts/MetaPro-Normal.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: metapro;
  src: url('./inc/assets/fonts/MetaPro-BlackItalic.otf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
  font-family: metapro;
  src: url('./inc/assets/fonts/MetaPro-Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
  font-family: metapro;
  src: url('./inc/assets/fonts/MetaPro-BoldItalic.otf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

html {
	height: 100%;
	font-size: 16px;
	overflow-x: hidden;
}

body {
	color: var(--black);
	position: relative;
	font-family: oswald, 'Helvetica', sans-serif;
	font-size: 16px;
	font-weight: 400;
	/* letter-spacing: 0.05em; */
	border: 0 none;
	-webkit-font-smoothing: antialiased;
}

/* body .oswald {
	font-family: oswald;
	letter-spacing: 0;
} */

* {
	box-sizing: border-box;
}

img {
	height: auto;
	width: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1, h2 {
	font-family: metaproblack;
}

h3, h4, h5, h6 {
	font-family: metapromedium;
}

.h1, h1 {
	font-size: 3.5rem;
	padding: 0;
}

.h2, h2 {
	font-size: 2.5rem;
	margin-bottom: 3rem;
	padding: 0;
}

label {
	font-size: 1.2em;
}

a {
	color: var(--black);
	transition: color	0.5s ease-in-out;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

a.secondary:hover {
	color: var(--green);
}

p {
	text-align: justify;
}

.button,
button {
	width: auto;
	height: auto;
	margin: 0px;
	border: none;
	border-radius: 100px;
	padding: 15px 30px;
	text-align: center;
	line-height: 1.6em;
	color: var(--white);
	background-color: var(--blue);
	transition: all 0.5s ease-in-out;
}

.button.active,
button.active {
	background-color: var(--blue-dark);
	pointer-events: none;
}

.button:hover,
button:hover {
	color: var(--white);
	background-color: var(--blue-dark);
}

.button.secondary,
button.secondary {
	color: var(--white);
	background-color: var(--blue-dark);
}

.button.secondary:hover,
button.secondary:hover {
	color: var(--white);
	background-color: var(--blue);
}

button:focus,
button:active {
  outline: none;
}

.tabs-container {
	overflow: hidden;
	display: flex;
	width: 100%;
	margin: 0 auto;
	align-items: stretch;
	justify-content: space-between;
	border-radius: 10px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.tabs-container .tab {
	position: relative;
	padding: 15px 15px;
	border-radius: 0;
	background-color: var(--white);
	color: var(--black);
	font-size: 1.1em;
}

.tabs-container .tab:hover {
	color: var(--blue);
}

.tabs-container.tabs-4 .tab {
	width: 24.75%;
}

.tabs-container.tabs-5 .tab {
	width: 19.75%;
}

.tabs-container .tab:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 4px;
	border-radius: 10px;
	background-color: var(--blue);
	transition: width	0.5s ease-in-out;
}

.tabs-container .tab:hover:after,
.tabs-container .tab.active:after {
	width: 100%;
}

#wraper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.hidden {
	display: none;
}

.transparent {
	opacity: 0;
	visibility: hidden;
}

.uppercase {
	text-transform: uppercase;
}

.capitalized {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.justify {
	text-align: justify;
}

.underline {
	text-decoration: underline;
}

.letter-list {
	list-style: lower-alpha;
}

.disc-list {
	list-style: disc;
}

.animate__animated {
	opacity: 1 !important;
}

/******************** Shared ********************/
/* shared : header*/
header#masthead {
	background-color: var(--white);
	padding: 0;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

#masthead nav {
	padding: 15px;
	padding-right: 15px;
}

#masthead .topbar {
	margin-bottom: 2rem;
	font-size: 0.8575em;
}

#masthead .topbar,
#masthead .topbar a {
	color: var(--black);
}

#masthead .topbar a:hover,
#masthead .topbar a:hover i {
	color: var(--blue);
	transition: color 0.5s ease-in-out;
}

#masthead .topbar .contact-info > span {
	padding-left: 2rem;
	padding-right: 4rem;
}

#masthead .topbar .contact-info .contact-email {
	padding-left: 0;
}

#masthead .topbar .social-info > a {
	padding: 0 0.5rem;
}

#masthead .topbar .social-info .last-item {
	padding-right: 0;
}

#masthead .topbar .social-info i {
	font-size: 1.5em;
}

#masthead .navbar-container {
	text-align: right;
}

#masthead .navbar-brand img {
	height: 125px;
	width: auto;
}

#masthead #menu-main-menu > li > a {
	font-size: 1.4em;
	text-align: center;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover, 
body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {
	color: var(--blue);
	font-weight: 400;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
	color: var(--black);
}

body:not(.theme-preset-active) #masthead .navbar-nav > li.current-menu-item > a {
	color: var(--blue);
	pointer-events: none;
}


body:not(.theme-preset-active) #masthead #menu-main-menu.navbar-nav > li > a {
	padding: 0 1rem;
}

body:not(.theme-preset-active) #masthead #menu-main-menu.navbar-nav > li:nth-last-child(1) > a {
	padding-right: 0;
}

#masthead #menu-main-menu .menu-item-dropdown-13 {
	min-width: 15rem;
	transition: all 0.5s ease-in-out;
}

/* shared : footer */
body:not(.theme-preset-active) footer#colophon.site-footer {
	background-color: var(--dark);
	color: white;
	font-size: 1rem;

	box-shadow: 0px -10px 30px 0px rgba(0, 0, 0, 0.15);
}

.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6 {
	color: inherit;
}

.site-footer h3 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
	font-weight: bold;
	text-align: center;
}

.site-footer .footer-menu-container, 
.site-footer .footer-info-container, 
.site-footer .footer-social-container {
	width: 40%;
	margin: 0 auto;
	text-align: left;
}

.site-footer .col-4 {
	border-right: 1px solid var(--light);
}

.site-footer .col-4.last-item {
	border-right: none;
}

.site-footer .footer-copy-container img {
	margin-top: 2rem;
}

.site-footer .footer-copy-container .footer-info-container {
	margin-top: 2rem;
	text-align: center;
}

.site-footer .footer-menu-container .footer-menu {
	list-style: none;
	padding: 0;
}

.site-footer .footer-menu a {
	padding: 0.5rem;
}

footer#colophon.site-footer a:hover {
	color: var(--black);
}

.site-footer .footer-social-container a {
	display: block;
	padding: 0.5rem;
	text-align: left;
}

.site-footer .footer-social-container a i {
	padding-right: 1rem;
	width: 2rem;
}

/* shared : page defaults */
.page-template-fullwidth #content.site-content {
	padding: 0;
}

.page-template-fullwidth #primary {
	padding: 0;
}

#content.site-content {
	padding-bottom: 3.5rem;
	padding-top: 4rem;
}

.page-template .page .entry-title {
	display: none;
}

.page-template-fullwidth .entry-content {
	margin: 0;
}

/* shared : table */
table tr.header:nth-child(1) {
  background-color: var(--blue);
  color: white;
}

table th {
	background-color: var(--blue);
	color: var(--white);
}

table tr th {
  padding: 1rem 0.25rem;
}

table tr {
  border-bottom: solid 1px var(--blue);
}

table tr td {
  padding: 1rem 0;
}

table tr:nth-child(odd) {
  background-color: lightgray;
}

/* special elements */
ul {
	margin-bottom: 1.5rem;
}

.color-blue {
	color: var(--blue);	
}

.color-green {
	color: var(--green);	
}

.background-light {
	background-color: var(--light);
}

.subtitle {
	margin-bottom: 3rem;
	font-family: inherit;
	font-size: 0.5em;
	letter-spacing: 0.1rem;
	line-height: 1em;
}

/* tools : slick slider */
/* Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
			touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
